


* { padding:0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
  }



  * a{ text-decoration: none;
    color: #000;

  }
  input[type="text"]{
    text-transform: uppercase;
    width:100%;
    text-align:center;
}

input::placeholder{
    text-transform: none;
}

input[type="number"]{
    width:100%;
    text-align:center;
}

input[type="radio"]{
    text-align:left;
        width: 20px;;
        height: 20px;  
       padding:0;
       
}
input, select{border-radius: 4px; border:1px solid #ccc;}
input[type="tel"]{
    width:100%;
    text-align:center;
}

input[type="email"]{
    width:100%;
    text-align:center;
}

input[type="date"]{
    width:100%;
    text-align:center;
}

  body{color:#000;
    font:100%/1.4 Verdana, Arial, Helvetica, sans-serif;
      margin:0 auto;
    position:relative;
    padding: 0;
  }

  

  #tudo{
      width:100%;
      position:relative;
      margin:0 auto;
bottom:-50px;
  }

header{
    position:relative;
    width: 100%;
    height:150px;
    
}


.vermelho{
    color:red;
}


article.per{
    text-align:center;
    margin-top:20px;
    position: relative;;
}



article.per ul{
    list-style: circle;
}



article h1{
    padding:8px;
    text-align: center;
    background:#c6c6c6;
    color: black;
    font-size: 20px;
}

.descricao{
    display:none;
    background:#00BCD4;
    text-align: center;
    color:white;
}

.logo {
    width:100%;
    height:auto;
    position:absolute;
    margin-top:0;
    
    
}

.logo img{

    width:100%;
    height:auto;
    border-radius: 6px;
    

}

.titulo{
    position: absolute;
    margin-top:30px;
    display: none;
    color:#4d4d4d;
    font-weight:bold;
    font-size: 12px;
    text-align:center;  
    right:30px;
    
}


nav{
    width:100%;
    position:absolute;
    
    bottom:-20px;;
}
nav ul{
    text-align: center;
    list-style: none;
    
}
nav li{
    display: inline-block;
    font-size:16px;
    padding:5px;
    margin-right:10px;
    color:rgb(68, 6, 6);;
     
    font-weight: bold;
    

}

nav li:hover {
    border-bottom: 3px solid rgb(221, 27, 27); 
}

nav li a{color:rgb(68, 6, 6);;}
nav li a:hover{
    color:rgb(221, 27, 27);

}

button{
    border: 2px solid #c6c6c6;
    border-radius: 24px;
    width:100%;
    display: block;
    color:white;
    margin-top:-30px;
    font-weight: bolder;
    background:rgb(94, 94, 94);
    padding:5px;
}




button a{
    color: #000;
}

.botao{

    border: 2px solid #c6c6c6;
    border-radius: 24px;
    position: relative;
    width:100%;
    height:auto;
    margin-top:-30px;
    margin-bottom:33px;
    text-align:center;
    display: block;
    background:rgba(236, 236, 236);
    padding:5px;

}
.botao:last-child{
    margin-bottom:25px;
}



.botou{

    position: relative;
    width:100%;
    height:auto;
    margin-top:0px;
    font-weight: bold;
    margin-bottom:33px;
    text-align:center;
    display: block;
    color:white;
    background:rgb(255, 113, 113);
    padding:5px;

}



select{
    width:100%;
    height:20px;
}

form{
    padding:20px;
}

article{
    
    position:relative;
    top:5px;
    border-radius: 24px;
    text-align: center;
    font-size:16px;
    
    margin-top:20px;
    margin-bottom:20px;
    padding: 10px;
    width:100%;
    
    background:#f9f9f9;
}

article h2{
    border-radius: 24px;
    background: #f0f0f0;
    width: 100%;
    margin-bottom:-15px;
    text-align: center;
    color: black;
    font-weight: normal;
    font-size: 26px;
}

#abaixo-do-peso{
    display:none;
}
input.numero{
    
    width:92%;
}

.ficha-de-avaliacao{

    position:relative;
    top:20px;
    margin-bottom:-15px;
    padding:10px 3px;
    width:100%;
    
    

}

.ficha-de-avaliacao-inicio {

    position:relative;
    top:20px;
    margin-bottom:-20px;
    padding:10px 3px;
    width:100%;
    
    

}


.ficha-de-avaliacao-inicio h2, .ficha-de-avaliacao h2{
    
    padding:8px;
    text-align: center;
    background-attachment: scroll;
    color: black;
    font-size: 25px;
}

footer{position: absolute;display: flex;justify-content: center; align-items: center;
    width:100%;
    bottom:-170px;;
    min-height: 150px;
    max-height: auto;   
    background:#f0f0f0;
}
footer a{
    color:rgb(59, 59, 59);
}
footer p{
    padding: 20px 10px;
    width:100%;
    font-size:14px;
    top:20px;
    text-align:center;
    
}

.pagina-atual{
    
    border-bottom: 3px solid rgb(68, 6, 6);;

}

.pagina-atual:hover{
    
    border-bottom: 3px solid rgb(68, 6, 6);;

}

.pagina-atual a:hover{
    
    color: rgb(68, 6, 6);;

}

.DATA{
    padding:5px;
}

h2.DATA {
    font-size: 16px;
    border-width:0.5px;
    border-left-color:transparent;
    border-right-color: transparent;
    border-bottom-color:transparent;
}

.DATA legend{
    text-align:center;
}

#dadosPaciente{
    margin-top:20px;
    width: 100%;
    margin-bottom:-70px;
    padding-bottom:10px;
    text-align:center;

}
#dadosPaciente fieldset{
    padding:20px 5px;;
    border-width: 0.5px;
    border-left-color: transparent;
    border-bottom-color: transparent;
    border-right-color: transparent;
    font-weight: bold;
}

#dadosPaciente fieldset legend{
    font-weight: normal ;
}
#field-border{

    border-width:0.5px;
    border-top-color:transparent;
    border-left-color:transparent;
    border-right-color: transparent;
    border-bottom-color:transparent;

}



@media print {

    .logo {
        position:absolute;
        margin-top:15px;
        margin-left:150px;
        background:rgb(248, 246, 246);
        
    }
    .titulo{
        right:190px;
        
    }

    article:nth-child(2){/*HISTÓRIA CLÍNICA*/
        margin-top:420px;
        padding:0;
    }
    article:nth-child(3){/*QUESTONÁRIO DE TEGNER E LYSHOLM*/
        margin-top:600px;
        margin-bottom:500px
        
    }

    article:nth-child(4){/*HÁBITOS/ANTECEDENTES PESSOAIS*/
        margin-bottom:500px
    }
    article:nth-child(5){/*ANTECEDENTES FAMILIARES*/
        
    }

    article:nth-child(6){/*EXAME FÍSICO*/
        margin-bottom:200px
    }

    article:nth-child(7){/*ANTECEDENTES PESSOAS E FATORES DE RISCO*/
        
    }

    
    #dadosPaciente{
        width: 100%;
        padding:15px 5px 5px 5px;
        margin-bottom:-20px;
        text-align:center;
    
    }
    #dadosPaciente fieldset{
        padding:10px;
        font-weight: bold;
    }
    
    #dadosPaciente fieldset legend{
        font-weight: normal ;

    }
    .ficha-de-avaliacao{

        top:0px;
        margin-bottom:0px;
        padding:10px 3px;
        width:100%;
        
        
    
    }
    #DATA{
        margin-bottom:-30px;
        }
        
    .ficha-de-avaliacao h2{
    padding:8px;
    text-align: center;
    background-attachment: scroll;
    color: black;
    font-size: 25px;
}

article{
    
    position:relative;
    margin-bottom:5px;
    padding:5px 5px;
    width:100%;

    background:rgba(236, 236, 236, 0.534);
}



article h2{
    padding:8px;
    margin-bottom:-3px;
    text-align: center;
    background:#eee;
    color: black;
    font-size: 20px;
}
    .none{
        display: none;
    }
    
#dadosPaciente{
    width: 100%;
    height:0;
margin-top:20px;    text-align:center;

}
#dadosPaciente fieldset{
    border-width:0.5px;
    border-left-color:transparent;
    border-right-color: transparent;
    border-bottom-color:transparent;
    padding:0px;
    margin:0;
    font-weight: bold;
}

#dadosPaciente fieldset legend{
    font-weight: normal ;




}


#field-border{

    border-width:0.5px;
    border-top-color:#000;
    border-left-color:transparent;
    border-right-color: transparent;
    border-bottom-color:transparent;

}
input::placeholder{
    color:transparent;
}

#imcresult{
    color: #000;
}
}

@media screen and (max-width: 400px) {/*para tablets*/

    article p{font-size:13.5px;;}       
        
    }}


@media screen and (min-width: 400px) {/*para tablets*/

    .logo {
        width:60%;
        left:20%;        
        
    }}
@media screen and (min-width: 700px){/*para tablets*/

    .logo {
        width:40%;
        left:30%;        
        
    }
    
    
    
    .titulo{
        right:300px;
        
    }

    article{
    
        width:60%;
        margin:0 auto;
        margin-bottom:20px;

        
    }

    button{
        display:block;
        width:20%;
        
        margin:0 auto;
        margin-top:-30px;

    }

    .botao{
        margin:0px auto;
        margin-top:-30px;
        margin-bottom:20px;
        width: 20%;
    }

    



}

@media screen and (min-width: 1100px){/*para tablets*/

    .logo {
        width:30%;
        left:35%;

    }
    
    
    
    .titulo{
        right:300px;
        
    }

    article{
        
    
        width:40%;
        margin:0 auto;
        margin-top:20px;
        margin-bottom:20px;

    }

    
    



}


@media screen and (min-width: 2400px){/*para tablets*/

    .logo {
        
        width:15%;
        left: 42.5%;

    }

    article.inicio{width: 20%}
    header {display: flex; justify-content: center; flex-direction: column; align-content: center;}
}
.inicio {display: flex; justify-content: flex-start; align-items: center; flex-direction: column;}
.inicio ul {text-align: left; list-style-type: decimal; padding-left:3.8rem; padding-right: .2rem ;padding-top:20px;}
.inicio li {font-weight: normal; }
article.inicio {min-height: 400px; background:transparent; margin-bottom:20px; margin-top:35px; padding:0px 0 10px;}


    
#botoes {
    display: flex; justify-content: center; flex-direction: column; align-items: center;
}